/* ===========================
   TARJETA PRINCIPAL DE ESTADO
============================= */

.status-card {
  padding: 20px;
  border-radius: 14px;
  text-align: center;
  margin-bottom: 25px;
  color: white;
  box-shadow: 0 4px 16px rgba(0,0,0,0.3);
  transition: 0.3s ease;
}

.status-card.state-disconnected {
  background: #8b0000;
}

.status-card.state-connecting {
  background: #e6b800;
}

.status-card.state-connected {
  background: #0b8f2f;
}

.status-icon {
  font-size: 64px;
  margin-bottom: 10px;
}

.status-text h2 {
  margin: 0;
  font-size: 26px;
  font-weight: 700;
}

.status-text p {
  margin-top: 6px;
  opacity: 0.8;
}

/* Botón principal */
.status-card ion-button {
  margin-top: 18px;
}


/* Mejor estilo para las listas */
ion-card-title {
  font-size: 1.2rem;
  font-weight: 700;
}

/* Sensores */
ion-chip {
  font-size: 1rem;
  padding: 6px 12px;
}

